{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title"> Oscar Age Female: {{ id.Name }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">ID: {{ id.id }}</li>
        <li class="list-group-item">Year: {{ id.year }}</li>
        <li class="list-group-item">Age: {{ id.age }}</li>
        <li class="list-group-item">Name: {{ id.name }}</li>
        <li class="list-group-item">Movie: {{ id.movie }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{name.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
        <form action="/delete/{{name.id}}" method="post"><button type="submit" class="btn btn-danger">Delete</button></form>


{% endblock %}